#page-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.container .nav-collapse {
    z-index: 50;
    background: #1a1a1a;
}
.row-fluid ul li {
    max-width: 100%;
    text-align: center;
}
/*.row-fluid ul .span3{
	margin: 0 auto 20px;
}*/

.footer {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.centerDiv {
    width: 95%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.centerDiv iframe {
    display: block !important;
    margin: 0 auto !important;
}

/*Navigation*/
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom,
.navbar-brand,
.navbar-toggle {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}
.menu_img {
  padding-top: 10px;
}

.page-scroll {
  font-size: 12px;
}

@media (min-width: 768px) {
  .logo > img {
    padding-top: 10px;
}
.navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #000;
}
#nav-modified {
    margin-left: 3%;
}

.masthead {
    margin-top: 5%;
}
#front_img{
    display: initial !important;
}
.navbar-custom a {
  color: #778899;
}
.navbar-custom .nav li a:hover {
  color: #696969;
}

}
@media (max-width: 767px) {
  .logo > img {
    padding-top: 10px;
  }
  .career-btn,
  .sm-links {
    float: right;
  }
  .sm-links {
    position: relative;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
     position: sticky !important;
    }
}